/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

ol,
ul,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}



/* LAYOUT */


.container {
    max-width: 1024px;
    margin: 0 auto;
}

.container-small {
    max-width: 800px;
    margin: 0 auto;
}

.container-full {
    width: 100vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    padding: 10px;
}


.col-20 {
    width: 20%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-100{
    width: 100%;
}

.col-1 {
    width: calc(100% / 6);
}

.col-2 {
    width: calc((100% / 6) * 2);
}



/* STYLE */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.button {
    border-radius: 40px;
    padding: 7px 16px; 
}


.textalign-center {
    text-align: center;
}

.section-title {
    margin: 20px;
    font-size: 40px;
    }

.section-text {
    font-size: 20px;
}

.bg-blue {
    background-color: #3161E0;
}

.bg-white{
    background-color: white;
}

.bg-lightblue {
    background-color: #8EA1E1;
} 

.bg-purple {
    background-color: #00008B;
}

.bg-pink{
    background-color: #EE82EE;
}

.bg-grey{
    background-color: #FFC0CB;
}

.bg-green{
    background-color: #228B22;
}

.bg-lightgrey{
    background-color: #F6F6F6;
}

.bg-red{
    background-color: #F08080;
}

.bg-boh {
    background-color: #7FFFD4;
}

.bg-darkgrey{
    background-color: #23272A;
}

.white-text {
    color: white;
}

.blue-text {
    color: #7289DA;
}

.bold-text {
    font-weight: 700;
}


/* UTILITIES */

.justify-between {
    justify-content: space-between;
} 

.justify-center {
    justify-content: center;
}

.padding20{
    padding: 20px;
}

.padding-section {
    padding: 100px 0px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.black-text {
    color: #23272A;
}

.ita-flag {
    height: 20px;
}

.display-block {
    display: block;
}

.display-inlineblock {
    display: inline-block;
}

.textalign-right {
    text-align: right;
}

/* PAGE HEADER */

.nav .main-menu{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
}


.nav .row {
    justify-content: space-between;
}

.login-button {
    color: black;
    background-color: white;
    border-radius: 40px;
    padding: 7px 16px;
    line-height: 42px;
}

/* MAIN CONTENT */

.bg-jumbo {
    background-image: url('https://github.com/MattiaBologna/htmlcss-discord/blob/6374bd445198d79be30240952c9e82c2f99ddf98/img/jumbo.png?raw=true');
    background-size: cover;
}

.wave {
    width: 100%;
}

.filter-grey {
    filter: invert(100%) sepia(9%) saturate(260%) hue-rotate(220deg) brightness(117%) contrast(93%);
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(44deg) brightness(103%) contrast(100%);
}

.bg-stars {
    background-image: url('.\./img/stars.svg');
    background-size: cover;
}

.button-width {
    margin: 0 25%;
}



/* FOOTER */

.border-bottom {
    border-bottom: 1px solid #7289DA50;
}

.margin15 {
    margin: 15px 0;
}

.social-logo {
    height: 30px;
    margin: 15px 15px;
    filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(44deg) brightness(103%) contrast(100%);
}


/* DEBUG */

.debug .container {
    border: 2px solid red;
    padding: 20px;
}

.debug .row {
    border: 2px solid black;
    padding: 20px;
} 

.debug [class^="col"] {
    border: 1px dotted red;
    padding: 10px;
}

.debug .min-height {
    min-height: 200px;
}

.debug .bigger-content {
    min-height: 400px;
}


